package views

templ SignupForm() {
  <form hx-post="/signup" hx-trigger="submit" hx-target="#signupForm" hx-swap="outerHTML" id="signupForm">
    <input type="email" name="email" placeholder="Email" />
    <input type="password" name="password" placeholder="Password" />
    <input type="submit" value="Sign Up" />
  </form>
}
